language: python
sudo: false
env:
    - TOXENV=py26
    - TOXENV=py27
    - TOXENV=py33
    - TOXENV=py34
    - TOXENV=pypy
#   - TOXENV=pypy3
#   pending release of a fix for https://bitbucket.org/pypy/pypy/issue/1946
install:
    - pip install tox
script:
    - tox --develop
notifications:
    email: false
